* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex: 0 0;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #000000;
}

pre {
  overflow: auto;
  border: 1px solid #ccc;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
  background: #2b2b2b;
  code {
    overflow: auto;
    color: #95a1ad;
   .let {
     color: #9f642f;
   }
    .prime {
      color: #95a1ad;
    }
    .second {
      color: #b89a5e;
    }
    .text {
      color: #5e6e41;
    }
    .numbers {
      color: #446892;
    }
    .foo {
      color: #8a71a3;
    }
  }
}

.link {
  color: #f3cb37;
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  &:hover {
    background-size:100% 2px;
  }
  &:active {
    background-size:100% 2px;
  }
}

.active {
  background-size:100% 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 130px;
  margin-bottom: 100px;
  background: #f3cb37;
  &-logo {
    h1 {
      font-family: 'Prompt', sans-serif;
    }
  }
  &-nav {
    .burger-button {
      display: none;
      background: none;
      border: 1px solid #000;
      border-radius: 5px;
    }
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 10px;
        a {
          color: #000;
          text-decoration: none;
          font-weight: 800;
        }
      }
    }
  }
}

article {
  margin: 15px 0;
  padding: 10px;
}

.resume {
  display: flex;
  padding: 0 130px;
}

.portfolio {
  display: none;
  width: 100%;
  justify-content: center;
}

.main-resume {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-bottom: 3px solid #000000;
  border-top: 3px solid #000000;
  border-radius: 30px;
  .about-me {
    display: flex;
    flex-direction: column;
  }
}

.main-portfolio {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contacts {
  .article-text {
    ul {
      list-style: none;
      padding: 0 0 0 10px;
      li {
        a {
          color: #000;
        }
      }
    }
  }
}

.skills {
  .article-text {
    ul {
      padding: 0 0 0 10px;
      li {
        display: flex;
        img {
          margin: 0 10px 5px 0;
        }
      }
    }
  }
}


.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
  width: 100%;
  justify-content: flex-start;
  .card-item {
    display: flex;
    transition: 300ms;
    flex-direction: column;
    width: calc(100% / 12 * 4 - 20px);
    margin: 10px;
    border-radius: 7px;
    border: 2px solid #000;
    color: #2e363e;
    &:hover {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }
}



.aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.footer {
  background: #f3cb37;
  margin: 300px 0 0 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burger-menu {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: #f3cb37;
    font-size: 30px;
  }
}

@media screen and (max-width: 1181px) {
  .resume {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1015px) {
  html,
  body {
    width: 100%;
  }

  .portfolio {
    .main-portfolio {
      width: 80%;
    }
  }
  .header {
    padding: 0;
    width: 100%;
    &-logo {
      h1 {
        margin: 0 10px;
        font-size: 1.5em;
      }
    }
  }

  .cards {
    .card-item {
      width: calc(100% / 12 * 6 - 20px);
    }
  }

  .resume {
    flex-direction: column;
    padding: 0 20px;
    .main-resume {
      width: 100%;
    }
    .aside {
      width: 100%;
      margin-left: 0;
      align-items: flex-start;
    }
  }

  .footer {
    margin-top: 100px;
    .github {
      a {
        img {
          height: 75px;
        }
      }
    }
    .rs-school {
      a {
        img {
          height: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 685px){
  pre {
    white-space: pre-wrap;
    width: 100%;
  }

  .portfolio {
    .main-portfolio {
      width: 90%;
    }
  }

  .cards {
    .card-item {
      width: calc(100% / 12 * 12 - 20px);
    }
  }

  .header {
    margin-bottom: 30px;
    &-logo {
      h1 {
        font-size: 1em;
      }
    }
  }

  .footer {
    .github {
      a {
        img {
          height: 30px;
        }
      }
    }
    .copy {
      font-size: 1em;
    }
    .rs-school {
      a {
        img {
          height: 30px;
        }
      }
    }
  }

  .header {
    &-nav {
      .burger-button {
        display: block;
        margin: 0 10px;
      }
      ul {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .portfolio {
    .main-portfolio {
      width: 100%;
    }
  }
}